body {
  min-width: 760px;
  max-width: 1050px;
  font-family: "Source Sans Pro", sans-serif;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

img {
  width: 100%;
}

input[type=button] {
  text-align: center;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  border-radius: 50px;
  border: 1px solid rgb(255, 194, 199);
  width: 130px;
  height: 30px;
  font-weight: 600;
  font-size: 11px;
}

h2 {
  font-family: "Lora";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
}

p {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

li {
  display: inline;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  color: white;
  text-decoration: none;
  font-family: "Lora", serif;
}

/* HEADER */
.header {
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70px;
  background-color: #A9BFE4;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.headerImg {
  width: 136px;
  height: 55px;
}

.headerListNav {
  min-width: 333px;
  display: flex;
  justify-content: space-between;
}

.navLupaBacket {
  display: flex;
  justify-content: space-around;
  width: 90px;
  height: 20px;
}

.headerLupa, .headerBasket {
  width: 20px;
}

/* /HEADER */
/* MAIN */
/* SECTION MAIN */
.sectionMain {
  min-width: 760px;
  display: flex;
  align-items: center;
}

.sectionMainContent {
  padding-left: 64px;
  width: 45%;
}

input[name=toBasket] {
  display: inline-block;
  background-color: #FFC2C7;
  margin-right: 30px;
  color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

input[name=toCatalog] {
  display: inline-block;
  background: white;
  color: #989EC3;
}

.sectionMainPicture {
  width: 55%;
}

/* /SELECTION MAIN */
/*SELECTION ABOUT US*/
.sectionAboutUs {
  display: flex;
  flex-direction: column;
  min-width: 760px;
}

.sectionAboutUsPicturesBlock {
  width: 100%;
  max-width: 1050px;
  height: 20.8333333333vw;
  max-height: 240px;
  display: flex;
}

.blockPicture1, .blockPicture2, .blockPicture3 {
  width: 33.33%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 10px;
}

.blockPicture1 {
  background: no-repeat url("../Images/bouquets.jpg");
  background-size: 100%, contain;
}

.blockPicture2 {
  background-image: url("../Images/natural_flowers.jpg");
  background-size: cover;
}

.blockPicture3 {
  background-image: url("../Images/own_bouquet.png");
  background-size: cover;
}

.blockPictureButton input {
  background: #A9BFE4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 0;
  color: white;
  font-family: "Lora";
  font-weight: 400;
  font-size: 14px;
}

.sectionAboutUsBox {
  width: 100%;
  display: flex;
}

.sectionAboutUsInfo {
  width: 50%;
}

.sectionAboutUsImg {
  width: 50%;
  overflow: hidden;
}

.imgWomen {
  position: absolute;
  z-index: 1;
  width: 40%;
  right: 35px;
}

.imgAbstract {
  position: absolute;
  z-index: 0;
  width: 43%;
  bottom: -64px;
  right: -40px;
}

.sectionAboutUsInfoNav {
  bottom: 220px;
  right: 20px;
  width: 20px;
  height: 100px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: space-around;
}

.sectionAboutUsInfoNav img {
  width: 20px;
}

.sectionAboutUsFooter {
  bottom: 0;
  height: 156px;
  width: 100%;
  background: rgba(169, 191, 228, 0.4);
}

.sectionAboutUsFooter h4 {
  left: 63px;
  top: -10px;
  font-family: "Lora";
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #989EC3;
}

/*# sourceMappingURL=style.css.map */
