body {
  margin: 0 auto;
  width: 1024px;
  border: 1px solid black;
}

img {
  height: 100%;
}

h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 42px;
  letter-spacing: 1px;
}

p {
  font-size: 18px;
}

li {
  list-style: none;
}

.header {
  display: flex;
  align-items: center;
  background-color: rgb(169, 191, 228);
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.headerNav {
  width: 85%;
  display: flex;
}

.headerNav ul {
  width: 100%;
  margin: 0 70px 0 30px;
  display: flex;
  justify-content: space-between;
}

.header li {
  font-size: 20px;
  color: white;
  padding: 3px;
}

.header li:hover {
  border-bottom: 1px solid #FFFFFF;
  font-weight: bolder;
  padding: 0;
}

.headeIMG {
  float: left;
  height: 55px;
  width: 12%;
  padding: 10px 0 10px 60px;
}

.sectionMain {
  height: 530px;
  display: flex;
  padding-left: 96px;
}

.sectionMainContent {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sectionMainImg {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}

sectionAboutUs {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sectionAboutUsTop {
  height: 180px;
}

.sectionAboutUsTop ul {
  display: flex;
  justify-content: center;
}

.sectionAboutUsTop ul li {
  width: 300px;
  height: 180px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.sectionAboutUsTop ul li input {
  margin-bottom: 20px;
  width: 130px;
  height: 30px;
  background: #A9BFE4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 0;
  background-color: rgb(169, 191, 228);
  color: white;
}

.sectionAboutUsTop ul li input:hover {
  width: 140px;
  height: 35px;
  font-weight: 700;
}

.top1Img {
  background-image: url("../Images/bouquets.jpg");
}

.top2Img {
  background-image: url("../Images/natural_flowers.jpg");
}

.top3Img {
  background-image: url("../Images/own_bouquet.png");
}

.sectionAboutUsCenter {
  height: 300px;
  display: flex;
  padding-left: 96px;
}

.aboutUsCenterContent {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.aboutUsCenterImg {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 50%;
  background-image: url("../Images/abstract_background.png");
  background-size: 65% 85%;
  background-position: 100% 110%;
  background-repeat: no-repeat;
  overflow: hidden;
}

.aboutUsCenterImg img {
  height: 70%;
}

.aboutUsCenterContent h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  letter-spacing: 1px;
}

.sectionAboutUsFooter {
  background-color: rgba(169, 191, 228, 0.5);
  padding: 0 96px;
}

.sectionAboutUsFooter h3 {
  color: #989EC3;
  font-size: 20px;
  margin-top: 0px;
  padding-top: 15px;
  line-height: 10px;
}

.aboutUsFooterList {
  display: flex;
  justify-content: space_around;
  padding-bottom: 10px;
}

.aboutUsFooterList li {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  text-align: center;
}

.footerListImg {
  height: 75px;
}

.sectionCatalog {
  margin: 0 96px;
}

.cardHolder {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  box-shadow: 0px 4px 8px #FFC2C7;
  width: 250px;
  margin: 10px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.card:hover {
  box-shadow: 0px 4px 8px #ACACAC;
  height: 410px;
  width: 258px;
  margin: 0 6px 10px 6px;
}

.cardImg {
  height: 63%;
}

.card p {
  text-align: center;
  padding: 0 14%;
  font-size: 18px;
}

.sectionReviews h2 {
  padding-top: 30px;
}

.sectionReviews {
  padding: 0 96px;
  height: 730px;
  background-color: rgba(169, 191, 228, 0.2);
}

.reviewContainer {
  height: 250px;
  overflow: auto;
}

.reviewItem {
  box-shadow: 0px 4px 8px #ACACAC;
  margin-top: 20px;
  padding: 5px 20px;
  background-color: white;
}

.reviewName {
  color: #989EC3;
  font-size: 15px;
}

.reviewDescription {
  font-size: 16px;
}

.formReview {
  margin: 30px 0 0 0;
}

.userNameReview, .textAreaReview {
  width: 100%;
  margin: 10px -13px;
  font-size: 13px;
  color: rgb(172, 172, 172);
  border: 0;
  padding: 8px 16px;
}

.userNameReview:focus, .textAreaReview:focus {
  box-shadow: 0px 4px 8px #ACACAC;
  outline: none;
}

.userNameReview {
  height: 26px;
}

.textAreaReview {
  resize: none;
  height: 120px;
}

.btnConfirmReview {
  width: 137px;
  height: 35px;
  margin: 0 0 0 -13px;
  background: #FFC2C7;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 0;
  color: white;
  font-size: 13px;
  font-weight: 600;
}

legend {
  font-size: 22px;
}

fieldset {
  border: 0;
}

.footer {
  padding: 15px 96px;
  display: flex;
  background-color: rgb(169, 191, 228);
}

.footerLeft {
  height: 120px;
  width: 30%;
  background-image: url("../Images/logo.png");
  background-size: 90% 65%;
  background-repeat: no-repeat;
  background-position: top left;
  display: flex;
  align-items: flex-end;
  color: white;
}

.footerRight {
  height: 120px;
  width: 70%;
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 12px;
  font-weight: 300;
}

.footerRight ul li:first-child {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 20px;
}

/*# sourceMappingURL=style.css.map */
