.container{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 600px;
}
.list{
	width: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.form{
	width: 200px;
}
form {
	display: flex;
	flex-direction: column;
	align-items: center;
}
label {
	margin-top:10px;
}
button{
	margin
}
form > input, form > button{
	border-radius: 5px;
	width: 200px;
	height: 40px;
}
form > button{
	margin: 20px;
}

li{
	list-style: none;

}
.focused{
	background: lightblue;
}










