/*GLOBAL*/
body{
	color: white;
	background-color: #131313;
	margin: 10px auto;
}
/*HEADER*/
#header{
	border-bottom: 1px solid #272727;
}
#header td:first-child {
	text-decoration: none;
	color: #1ACD4C;
	font-family: 'Caveat';
	padding-right: 17px;
	font-size: 20px;
	font-weight: normal;
	border-right: 1px solid #272727;
}
#header td:nth-child(2){
	font-weight: 200;
	padding-right: 40px;
}
#header td{
font-family: montserrat;

font-style: normal;
font-weight: 700;
font-size: 7px;
line-height: 16px;s
align-items: center;
text-align: right;
padding-right: 15px;
}
#header table{
	margin-left: auto;
	margin-right: auto;
}
#header td:nth-child(5){
text-decoration: line-through;
color: grey;
}

@font-face {
font-family: Raleway;
src: url('Font/static/Montserrat-VariableFont_wght.ttf') format("truetype"); 
font-style: normal; 
font-weight: normal; 
} 


/*MAIN*/

#main{
	font-family:montserrat ;
	width: 610px;
	margin: auto;
}
#main table {
	width: 100%;
}
#trDiv{
	border: 1px solid #272727;
	width: 100%;
}
#trDivHead th{
    font-size: 7px;
    text-align: left;
    width: 25%;
    color: #727272;
    padding-left: 10px;
}
#trDiv td{
    padding: 10px;
    font-size: 9px;
    text-align: left;
    width: 25%;
    color: #FFFFFF;
}


/*FOOTER*/

#footer {
	text-align: center;
}
#footer a{
	padding: 20px;
	text-decoration: none;
	color: white;
	font-size: 10px;
}
#footer a:nth-child(2), #footer a:nth-child(1) {
color: #4F4F4F;
}
