        td{
			text-align: center;
			border: 2px solid black;
			border-spacing: 0px;
		}
		#tmain{
			width: 1200px;
			height: 400px;
			border-spacing: 0px;
		}

		#tsub td ,#tsubRight td{
			width: 100px;
			border: 0px;
			font-size: 10px;
			text-align: left;
		}
	    #tsub, #tsubRight{
	    	width: 100%;
	    }
		#tsub td strong, #tsubRight td strong{
			font-size: 30px;
		}
		#tsub td sub, #tsub td sup,#tsubRight td sub, #tsubRight td sup{
			font-size: 13px;
		}
		#tsubRight td{
			text-align: center;
			border: 0px;
		}
		#tsubRight td strong{
			float: right;
		}
		#tsubRight td sub{
			text-align: left ;
		}
		#tsub td{
			text-align: center;
			border: 0px;
		}
		#tsub td strong{
			float: left	;
		}
		#tsub td sub{
			text-align: right ;
		}
		#number{
			width: 20px;
		}