#allContent{
    margin: 0 auto;
    height: 900px;
    overflow: hidden;
    font-family: sans-serif;
    position: relative;
	width: 1200px;
	background-color: #1E1E1E;
	color: white;
}
#main{
	display: flex;
    margin: 150px 0 0 100px;
    background: #1E1E1E;
}
.backProtech{
	position: absolute;
	opacity: 0.02;
	font-size: 200px;
	font-weight: bold;
	top: 100px;
	left: 60px;
}
.backSimbol{
	position: absolute;
	opacity: 0.02;
	font-size: 110px;
	font-weight: bold;
    top: 380px;
    left: 490px;
}
li{
	display: inline-block;
	margin-left: 10px;
}
#header a{
	text-decoration: none;
	color: white;	
	border-radius: 3px;
}
body{
    background-color: black;
}
#header	{
	padding: 0 100px 0 100px;
}
.leftPart1, .leftPart2{
	display: inline-block;
	width: 40px;
	text-align: center;
	height: 25px;
    font-weight: bold;
}
.leftPart1 span, .leftPart2 span{
	display: block;
    padding-top: 4px;
}
#leftPart .leftPart2{
    background-color: white;
    color: black;
}
#leftPart, #leftMain{
	display: inline-block;
	width: 54%;
}
#leftMain{
	position:relative ;
}
h1{
	font-size:70px;
	font-weight: 100;
}
p{
	width: 400px;
}
.buttonSeeYourServices, .buttonSeePricing{
	margin: 50px 20px 0 0;
	width: 200px;
	height: 30px;
    font-size: 13px;
	font-weight: bold;
	border: 1px solid white;
	border-radius: 3px;
	background-color:#1E1E1E;
	color: white;
}
.buttonSeePricing{
    width: 170px;	
}
#rightMain{
	position: relative;	
}
.img{
	margin: 20px 0 20px 20px;
	width: 500px;
	height: 500px;
	overflow: hidden;
	position:relative ;
}
img	{
	position: absolute;
	top: 35%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.topLeftCorner{
	position: absolute;
	width: 100px;
	height: 100px;
	border-top: 2px solid white;
	border-left: 2px solid white;
    top: 0px;   
}
.bottomLeftCorner{
	position: absolute;
	width: 100px;
	height: 100px;
	border-bottom: 2px solid white;
	border-left: 2px solid white;
    top: 380px;
    left: px;
}
#rightPart{
	display: inline-block;
	width: 45%;
}
.circul {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	position: absolute; 
    top: 610px;
    left: -170px;
    background-image: radial-gradient(farthest-side at 5% 35%, white 0%, black 150%);
    box-shadow: inset 0 0 10px 5px white;   
}
#leftRectangle{
	position: absolute;
    top: 260px;
    width: 35px;
    height: 200px;
    display: flex;
    flex-direction: row;
}
.leftRectanglePart{
    width: 5px;
    height: 200px;
    background-color: white;
}
.rightRectanglePart{
    width: 30px;
    height: 200px;
    background: linear-gradient(0.25turn, grey, #1E1E1E);	
}
.circleRight{
	width: 180px;
	height: 180px;
	border-radius: 50%;
	background-color: #F2F4F6;
	position: absolute;
	top: 130px;
	left: 1130px;
	z-index: 1;
}
.circleRightBottom{
    width: 220px;
	height: 220px;
	border-radius: 50%;
	border:2px solid white; 	
	background-color: #1E1E1E;
	position: absolute;
	top: 760px;
	left: 1060px;
}
.circleCenter{
    width: 50px;
	height: 50px;
	border-radius: 50%; 	
	background: linear-gradient(45deg, white, grey);
	position: absolute;
	top: 750px;
	left: 600px;

}
