body{
	font-family:'Montserrat', sans-serif;
	background: #E5E5E5;
}
.main{
	
	display:flex;
	flex-direction: row;
    width: 1200px;
    margin: 0 auto;
    background-color: #E5E5E5;
}

aside{
	box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.1);
	color: white;
	width: 370px;
	background: #1E2939;
}
img	{
	width: 370px;
	padding: 40px 0 0 0;
}

aside>div>div{
padding-left: 25px;
}
aside h3{
  font-family:monospace,sans-serif;
  text-align:center;
  color: white;
  padding-right: 40px;
  font-size: 24px;
}
.contacts,.languages, .techSkills, .softSkills, .certificates{
	margin: 50px 0 0 30px;
}
aside .telephone, aside .mail{

	padding-left: 10px;
}
aside a{
	text-decoration: none;
	text-decoration-color:#FFFFFF ;
	color: darkgray;
}
aside p:nth-child(2) a{
	text-decoration: underline;
}	

aside li{ 
	font-size: 14px;
	color: rgba(251, 109, 58, 1);

}
aside li p {
	color: rgba(255, 255, 255, 1);
		line-height: 10px;
}
#mainContent{
	box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
	padding: 30px 50px 30px 50px;
	background: white;
}
#mainContent h1{
	font-size: 45px;
}
#mainContent a{
	text-decoration: none;
	color:rgba(89, 89, 89, 1);
}
.projects li{
font-weight: bold;
}
.projects li a {
	font-weight: 200;
}
.projects li span{
font-weight: 100;
}
h4 span{
	color: rgba(251, 109, 58, 1);
}
#mainContent h3{
margin-top: 50px;
}