body{
	background: darkblue;
}
input {
	border-radius: 5px;
	width: 500px;
	height: 70px;
	background: lightgrey;
	color: black;
	display: block;
	margin: 10px auto;
    box-shadow: inset 0 0 15px #300204;
    font-size: 20px;
}
h1{
text-align: center;
color: greenyellow;
}