body{
    width: 760px;
    height: 3725px;
	padding: 0;
	margin: 0 auto;
    font-family: 'Source Sans Pro', sans-serif;
    border:  2px solid black;
}
h2 {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
}
p{
font-weight: 400;
font-size: 14px;
line-height: 18px;
}

/* HEADER */
.header{
	box-sizing: border-box;
	position: relative;
    width: 759px;
    height: 70px;
    padding: 0;
	margin: 0 auto;
	height: 70px;
	background-color: #A9BFE4;
	box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.headerImg{
	display: inline-block;
	width: 136px;
	height: 55px;
	padding: 8px 0 8px 64px;
}

.headerImg img{
	width: 100%;
}

.headerListNav{
   position: absolute;
   width: 333px;
   height: 20px;
   left: 235px;
   top: 13px;
}

.headerListNav li{
	display: inline-block;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    color: white;
    text-decoration: none;
    font-family: 'Lora', serif; 
    margin-right: 13px;
}

.headerLupa img, .headerBasket img{
    width: 100%;
    height: 100%;
}

.headerLupa, .headerBasket{
	position: absolute;
    width: 20px;
    height: 20px;
}

.headerLupa{
    left: 640px;
    top: 30px;
 }

.headerBasket{
    left: 675px;
    top: 30px;
}
/* /HEADER */
 
/* MAIN */
/* SECTION MAIN */
.sectionMain{
	box-sizing: border-box;
    position: absolute;
    width: 760px;
    height: 455px;
    margin: 0 auto;
    top: 70px;
    border-width: 35px 0px;
    border-style: solid;
    border-color: #FFFFFF;
    display: flex;
    flex-direction: row;
}
.sectionMainContent{
	padding-left: 64px;
	width: 50%;
	box-sizing: border-box;
	position: relative;
}
.sectionMainPicture{
	width: 50%;
}
.sectionMainPicture img{
	width: 100%;
}
.sectionMainContent h2{
	position: absolute;
    top: 103px;
}
.sectionMainContent p{
	position: absolute;
	top: 190px;
}
.sectionMainContent input[type="button"] {
    text-align:center;
    border-radius: 50px;
    border: 1px solid rgba(255, 194, 199, 1);
    position: absolute;
    width: 130px;
    height: 30px;
    font-weight: 600;
    font-size: 11px;

}
input[name="toBasket"]{
	left: 63px;
    top: 285px;
    background-color: #FFC2C7;
    color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
input[name="toCatalog"]{
	left: 215px;
    top: 285px;
    background: white;
    color: #989EC3;
}
/* /SELECTION MAIN */

/*SELECTION ABOUT US*/
.sectionAboutUs{
    position: absolute;
    width: 760px; 
    height: 561px;
    top: 525px;
}
.sectionAboutUsPicturesBlock{
    position: relative;
    width: 630px;
    height: 145px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    box-sizing: border-box;
}
.sectionAboutUsPicturesBlock img{
    width: 210px;
    height: 100%;
}
.sectionAboutUsButtons{
    position: absolute;
    bottom: 8px;
    display: flex;
    flex-direction: row;
    width: 630px;
    justify-content: space-around;
}
.sectionAboutUsButtons input{
    width: 130px;
    height: 30px;
    background: #A9BFE4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 0;
    color: white;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}
.sectionAboutUsInfo{
    width: 100%;
    height: 416px;
    box-sizing: border-box;
    position: absolute;
    top: 145px;
    padding: 30px 0 0 64px;
    overflow: hidden;
}
.sectionAboutUsInfo p{
    width: 310px;
}
.imgWomen{
    position: absolute;
    z-index: 1;
    width: 320px;
    bottom: 156px;
    right: 35px;
}
.imgAbstract{
    position: absolute;
    width: 350px;
    bottom: 82px;
    right: -40px;
}
.sectionAboutUsInfoNav{
    position: absolute;
    bottom: 220px;
    right: 20px;
    width: 20px;
    height: 100px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: space-around;
}
.sectionAboutUsInfoNav img{
    width: 20px;
}
.sectionAboutUsFooter{
    position: absolute;
    bottom: 0;
    height: 156px;
    width: 100%;
    background:rgba(169, 191, 228, .4);
}
.sectionAboutUsFooter h4{
    position: absolute;
    left: 63px;
    top: -10px;
    font-family: 'Lora';
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    color: #989EC3;
}